* {
	padding: 0;
	margin: 0;
}
body {
	font-family: cambria, optima, didot;
}
h1 {
    text-align: center;
	font-size: 65px;
}
h2 {
	text-decoration: underline;
}
p {
	font-size: 15px;
}
a {
	text-decoration:none;
	color: white;
}
.listVar {
	list-style: none;
	padding: 10px 30px;
	background-image: url("./pics/tech.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
}
div {
    padding: 2%;
}
#header {
	background-image: url("./pics/network.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
#nav {
	width: 80%;
	margin: 2% 8% 0% 8%;
	height: 80px;
	text-align: center;
	color: white;
}
#menu {
	list-style: none;
	width: 100%;
	margin: 1% 1% 1% 0%;
}
.item {
	width: 22%;
	height: 35px; 	
	padding-top: 1%;
	margin: 1% 1% 1% 0%;
	border: 2px solid black;
    background-color: rgba(4, 4, 4, 0.5);
}
#menu > li {
	float: left;
}
.item:hover {
	background-color: black;
	border: 2px solid white;
}
#section {
	float: left;
	width: 25%;
	height: 500px;
	background-color: rgb(234, 234, 234);
}
.article {
	width: 20%;
	padding-bottom: 5%;
	border: 4px solid white;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin: 2%;
}
#aside {
	float: left;
	width: 65%;
	height: 500px;
}	
#aside #botonIntranet {
    color: #3c4245;
    width: 80%;
    height: 40px;
    border: none;
    margin: 5% 8% 5% 8%;
    background-color: #dfcdc3;    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}
#aside #botonIntranet:hover {
	background-color: #8e9fe6;
    color: #dfcdc3;
}

/* Home */

#home {
	background: linear-gradient(90deg, rgba(83,117,185,1) 0%, rgba(127,127,162,1) 40%, rgba(214,183,132,1) 100%);
	
	background: linear-gradient(to top, white 100%);

	-webkit-mask: linear-gradient(#0000, #000);
    	mask: linear-gradient(#0000, #000);
	
	height: 1000px;
	width: 100%;
}
#contenido {
	text-align: center;
	position:absolute;
	top:  300px;
	width: 100%;
}
h4 {
	font-size: 40px;
}
h5 {
	font-size: 35px;
}
h6 {
	font-size: 30px;
}
#figuras {
	width: 100%;
	height: 325px;
}
#figuras > li {
	list-style: none;
	box-sizing: border-box;
	border: 2px white solid;
	background-color: white;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	float: left;
	width: 150px;
	height: 110px;
	margin-left: 2%;
}
.fig2 {
	margin-top: 5%;
}
.fig3 {
	margin-top: 11%;
}
.fig4 {
	margin-top: 17%;
}
li > img {
	height: 75px;
	width: 95px;
	margin-top: 10%;
}
#imagenFlotante2 {
	width: 105px;
}
#imagenFlotante5 {
	height: 50px;
	width: 145px;
	margin-top: 20%;
}
#imagenFlotante6 {
	height: 45px;
	width: 130px;
	margin-top: 20%;
}
#imagenFlotante7 {
	height: 50px;
	width: 140px;
	margin-top: 20%;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}